@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-main-image {
  background-image: linear-gradient(45deg,
              rgba(0,0,0, 0.75),
              rgba(0,0,0, 0.75)), url('./assets/bg-main.png'); 
  background-size: cover; 
  background-position: center center; 
  background-repeat: no-repeat;
}



.hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    overflow: -moz-scrollbars-none; /* Firefox */
    -webkit-overflow-scrolling: touch; /* iOS Safari */
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }